# IDE files
/.idea/

# checker files
/check_utils/
/cs/
/input/
/output/
/ref/
/src/
/target/
/tasks/
/tests/
.check.grade
Cargo.toml
Cargo.lock
check
image_check
install.sh
tests.json

# build artifacts
image_editor
vgcore.*
*.o

# images
*.jpg
*.pgm
*.ppm