# IDE files
/.idea/

# checker files
/check_utils/
/cs/
/input/
/output/
/ref/
/tasks/
/tests/
.check.grade
check
image_check
tests.json

# build artifacts
312CA_SimaAlexandru_Tema3.zip
image_editor
vgcore.*
*.o
